name: Publish Website

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Publish
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v6

      - uses: pnpm/action-setup@v4.2.0
        with:
          version: 10.24.0

      - uses: actions/setup-node@v6
        with:
          node-version: 24.11.1

      - run: pnpm install

      - run: pnpm build

      - uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./out
          cname: gitignore.in
